

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{dataset.homepage.title}}</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
      <link rel="stylesheet" href="./css/styles.css">
      <script src="./js/gridwork.js" defer></script>
      <script src="./js/tabs.js" defer></script>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
      <script>
         window.onload = ()=>{
         	document.getElementById("prime-container").style.gridTemplateColumns= "45% 30% 0% 25%";
            document.getElementById("title-column").style.gridTemplateRows= "55% 45%";
         }
         
      </script>
   </head>
   <body>
      <div class="prime-container" id="prime-container">
         <div class="prime-container--section hero-column">
            <!-- <img src="./images/optimized_underwater.jpg" class="hero-pic" id="hero-pic"/> -->
            <div style='background-image:url("./images/optimized_underwater.jpg");' class="hero-pic" id="hero-pic"></div>
            <div class="tabs-group">
               <!-- re-add at later date -->
               <!-- <div class="tabs-group_contact" id="contact">contact</div> -->
               <div class="tabs-group_aboutme" id="aboutme">about me</div>
               <div class="tabs-group_other-works" id="other-works">other works</div>
            </div>
            <div class="hero-section-text-container" id="hero-section-text-container"></div>
         </div>
         <!-----------------TITLE SECTION----------------------->
         <div class="prime-container--section title-column" id="title-column">
            <div class="title-column_title-main">
               <div>Welcome to the blog<br><span class="title-sub"> a simple CosmicJS powered blog</span></div>
            </div>
            <div class="title-column_image" id="title-column_image-section">
               <a href="#" class="technically-button" id="technically-button">technically...</a>
               <img src="./images/optimized_candle.jpg" alt="" class="title-pic" id="title-pic"/>
               <div class="article-container" id="article-container"></div>
            </div>
         </div>
         <!-----------------SKILLS SECTION----------------------->
         <div class="prime-container--section skills-column" id="skills-column">
            <div class="skills-column_image-container">
               <img src='./images/optimized_smoke.jpg'  class="skills-pic"/>
               <div class="skills-column_image-container--button-container">
                  <button class="github-button"  id="github-button">github</button>
               </div>
            </div>
            <div class="skills-column_skills-main">
               <a href="#" style="text-decoration: none;transform:scale(.75);">
                  <div class="close-button" id="close-button">X</div>
               </a>
               <h2 class="skills-title">details</h2>
               <div class="skills-body">
                  <p><strong><span style="color:hsl(16, 63%, 59%);font-size:1.25rem;">Task : </span></strong> to create a simple CMS driven blog</p>
                  <h3 style="padding-top:10px;"><span class="mainColor-span">FrontEnd:</span></h3>
                  <hr>
                  <h4 style="padding-top:10px;"><span class="orange-span">HTML:</span> dynamic content and data-attributes</h4>
                  <h4><span class="orange-span">SASS:</span> used with bem naming conventions</h4>
                  <h4><span class="orange-span">JS/GSAP: </span>for grid animations</h4>
                  <h3 style="padding-top:10px;"><span class="mainColor-span">Content management:</span></h3>
                  <hr>
                  <h4 style="padding-top:10px;"><span class="orange-span">CosmicJS: </span>a headless CMS to glue the front/backeng together </h4>
                  <h3 style="padding-top:10px;"><span class="mainColor-span">BackEnd:</span></h3>
                  <hr>
                  <h4 style="padding-top:10px;"><span class="orange-span">NodeJS/Express: </span> server</h4>
                  <h4><span class="orange-span">HandleBars:</span> templating for dynamic content</h4>
                  
               </div>
               
            </div>
         </div>
         <!-----------------POSTS SECTION----------------------->
         <div class="prime-container--section posts-column">
            {{#each dataset.posts}}
            <a href="#" class="post" style="text-decoration: none;display:block;" >
               <div class="posts-column--post-container" data-post={{increment @index}}>
                  <div class="post-pic"><img src='{{metadata.post_picture.imgix_url}}' data-postpic='{{metadata.post_picture.imgix_url}}' alt="" id="post-pic"/></div>
                  <div class="post-titlebar">
                     <div class="post-titlebar_title">{{title}}</div>
                  </div>
                  <div class="post-summary" data-fullarticle='{{content}}'>{{metadata.summary}}</div>
         		</div><!-- class="posts-column--post-container" -->
	         </a>
	         {{/each}}
      </div>
      </div>
      {{#each dataset.links}}

         <div class="invisibleData" 
            data-linktitle='{{removeHTML title}}'
            data-url='{{removeHTML content}}'
            data-description='{{metadata.description}}'
            >
         </div>
      {{/each}}
      <div class="invisibleData" id="aboutMeInfo"
         data-aboutmecontent='{{removeHTML dataset.aboutMe.content}}'
      ></div>
   </body>
</html>

