

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{dataset.homepage.title}}</title>
      <link rel="stylesheet" href="./css/styles.css">
      <script src="./js/gridwork.js" defer></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
      <script>
         window.onload = ()=>{
         	document.getElementById("prime-container").style.gridTemplateColumns= "45% 30% 0% 25%";
            document.getElementById("title-column").style.gridTemplateRows= "55% 45%";
         }
         
      </script>
   </head>
   <body>
      <div class="prime-container" id="prime-container">
         <div class="prime-container--section hero-column">
            <img src="{{dataset.pictures.0.imgix_url}}" alt="artwork" class="hero-pic">
            <!-- <div class="tabs-group">
               <div class="tabs-group_other-works"></div>
               <div class="tabs-group_resume"></div>
               <div class="tabs-group_contact"></div>
            </div> -->
         </div>
         <!-----------------TITLE SECTION----------------------->
         <div class="prime-container--section title-column" id="title-column">
            <div class="title-column_title-main">
               <div>Welcome to the blog<br><span class="title-sub"> a simple CosmicJS powered blog</span></div>
            </div>
            <div class="title-column_image" id="title-column_image-section">
               <a href="#" class="technically-button" id="technically-button">technically...</a>
               <img src='{{dataset.pictures.2.imgix_url}}' alt="" class="title-pic" id="title-pic"/>
               <div class="article-container" id="article-container"></div>
            </div>
         </div>
         <!-----------------SKILLS SECTION----------------------->
         <div class="prime-container--section skills-column" id="skills-column">
            <div class="skills-column_image-container">
               <img style="background:url('{{dataset.pictures.1.imgix_url}}')"  class="skills-pic">
               <div class="skills-column_image-container--button-container">
                  <button class="github-button"  id="github-button">github</button>
               </div>
            </div>
            <div class="skills-column_skills-main">
               <a href="#" style="text-decoration: none;transform:scale(.75);">
                  <div class="close-button" id="close-button">X</div>
               </a>
               <h2 class="skills-title">skills used</h2>
               <p class="skills-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, culpa possimus dolore doloribus voluptatibus accusamus quis? Tempore tempora illum, provident, cupiditate fuga vero voluptatibus eius, sequi nihil itauptates vitae doloribus esse deleniti obcaecati quis eaque, eligendi fugiat assumenda minima facilis eos, quae nemo laudantium. Molestiae, esse. Aliquid quasi culpa saepe, accusamus distinctio fugiat, illo sunt eos voluptas officiis at excepturi cum eligendi? Saepe.</p>
               
            </div>
         </div>
         <!-----------------POSTS SECTION----------------------->
         <div class="prime-container--section posts-column">
            {{#each dataset.posts}}
            <a href="#" class="post" style="text-decoration: none;display:block;" >
               <div class="posts-column--post-container" data-post={{increment @index}}>
                  <div class="post-titlebar">
                     <div class="post-titlebar_title">{{title}}</div>
                  </div>
                  <div class="post-summary" data-fullarticle='{{content}}'>{{metadata.summary}}</div>
         		</div><!-- class="posts-column--post-container" -->
	         </a>
	         {{/each}}
      </div>
      </div>
   </body>
</html>


